h1 {
    font-size: 18px;
    color: #F80000;
    text-decoration: underline;
    text-transform: uppercase;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
